.content{
  position: relative;
  padding-top: 132px;
  left: 20px;
  .card-container{
    >li{
      margin-bottom: 20px;
    }
    .card-container-space{
      margin: 0;
      padding: 0;
      .card-style{
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 2%;
        width: 182px;
        background: #ffffff;
        position: relative;
        .list-inline{
          padding-left: 12%;
        }
        h5{
          color: #425a73;
        }
        .card-select-img{
          height: 36px;
          width: 36px;
          position: absolute;
          left:146px;
          cursor: pointer;
        }
        .header-img{
          position: relative;
          top:-20px
        }
        .header-left{
          width: 60%;
          padding-left: 8%;
          .circle{
            width: 13px;
            height: 13px;
            border-radius:13px;
            border: 2px solid #44c281;
          }
          .status{
            position: relative;
            top: -2px;
          }
        }
        ul{
          margin-bottom: 0;
        }
        .footer-img{
          position: relative;
          .type-icon{
            position: absolute;
            top: 30px;
            left: 155px;
          }
          .type-text{
            top: 35px;
            left: 25px;
            color: #fff;
            position: absolute;
          }
        }
        .default-style{
          width: 100%;
          position: relative;
          .operation-in-card{
            background:rgba(255,255,255,0.5);
            position: absolute;
            top: -58px;
            padding-left: 10px;
            width: 100%;
            height: 58px;
            left: 5px;
          }
        }
        .item-close{
          display:none
        }
        .item-open{
          display: block;
        }
      }
      .card-style.isHover{
        box-shadow: 2px 3px 2px 3px;
      }
    }

  }

  .table-box{
    width: 98%;
    .choose-table-header{
      width: 60px;
    }
    .menu{
      background-color: #2d3c51 !important;
    }
    .select-all{
      background-color: #f8e71c !important;
    }
    th{
      background-color: #2aa2dd;
      color: #FFFFFF;
      font-size: 12px;
      line-height: 16px;
    }
    td{
      color: #2e3c52;
    }
  }
}