.content{
  clear:both;
  background-color: #E6E5ED;
  .card-style{
    h5{
      color: #425a73;
    }
    margin-left: 2%;
    width: 20%;
    position: relative;
    top: -20px;
    .header-img{
      position: relative;
      top:-20px
    }
    .header-left{
      padding-left: 2%;
    }
  }
}