body .operation {
  clear: both;
  padding-left: 40px;
  background-color: #FAFAFC;
  margin-bottom: 0; }
  body .operation h5 {
    color: #22384D;
    position: relative;
    top: -1px; }
  body .operation h5:hover {
    color: #2aa2dd; }
  body .operation #deleteBatch {
    top: 41.2px !important; }
    body .operation #deleteBatch .tooltip-inner {
      background-color: #b0b4c0;
      width: 200px;
      position: relative;
      left: -62px; }
    body .operation #deleteBatch .tooltip-arrow {
      border-bottom-color: #b0b4c0 !important; }
  body .operation .left-item {
    position: relative;
    left: 134px; }
    body .operation .left-item .send-message {
      display: inline-block; }
    body .operation .left-item .batch-btn {
      background-repeat: no-repeat;
      width: 15px;
      height: 15px;
      margin: 8px; }
    body .operation .left-item .operation-item-icon {
      width: 13px;
      height: 13px; }
    body .operation .left-item .add-item-icon {
      background-image: url("/img/icon/icon_add_default.png"); }
    body .operation .left-item .add-item-icon-hover {
      background-image: url("/img/icon/icon_add_pressed.png"); }
    body .operation .left-item .list-item-icon {
      background-image: url("/img/icon/icon_card_default.png"); }
    body .operation .left-item .list-item-icon-hover {
      background-image: url("/img/icon/icon_card_pressed.png"); }
    body .operation .left-item .batch-item-icon {
      background-image: url("/img/icon/icon_batch_deffault.png"); }
    body .operation .left-item .batch-item-icon-hover {
      background-image: url("/img/icon/icon_batch_pressed.png"); }
    body .operation .left-item .select-all-btn {
      background-image: url("/img/icon/icon_select all_default.png"); }
    body .operation .left-item .send-message-btn {
      background-image: url("/img/icon/icon_send_pressed.png"); }
    body .operation .left-item .delete-item-btn {
      background-image: url("/img/icon/icon_delete_default.png"); }
    body .operation .left-item .print-item-btn {
      background-image: url("/img/icon/icon_print_default.png"); }
  body .operation .right-item {
    float: right;
    width: 650px;
    position: relative;
    top: -4px; }
    body .operation .right-item .type-color {
      width: 25px;
      height: 20px;
      padding: 0 !important; }
    body .operation .right-item .type-color.driver {
      background-color: #f0c22f; }
    body .operation .right-item .type-color.manager {
      background-color: #ef4c4f; }
    body .operation .right-item .type-color.other {
      background-color: #28d3db; }
    body .operation .right-item .search-item {
      position: relative;
      top: 10px;
      width: 35%; }
      body .operation .right-item .search-item .innerSearchIcon {
        width: 13px;
        height: 13px;
        background-image: url("/img/icon/icon_search.png");
        background-repeat: no-repeat; }
      body .operation .right-item .search-item .form-group {
        margin-bottom: 0; }
        body .operation .right-item .search-item .form-group .input-group-addon {
          background-color: #ffffff; }
    body .operation .right-item .outage-record-text {
      font-size: 12px;
      color: #425a73;
      font-weight: 600;
      padding-left: 10px; }

/*# sourceMappingURL=operation.css.map */
