body .operation-content {
  border-bottom: 1px solid #e2e2e4; }
  body .operation-content .operation {
    clear: both;
    padding-left: 40px;
    background-color: #FAFAFC;
    margin-bottom: 0; }
    body .operation-content .operation h5 {
      color: #22384D;
      position: relative;
      top: -1px;
      margin-bottom: 10px; }
    body .operation-content .operation h5:hover {
      color: #2aa2dd; }
    body .operation-content .operation #deleteBatch {
      top: 41.2px !important; }
      body .operation-content .operation #deleteBatch .tooltip-inner {
        background-color: #b0b4c0;
        width: 200px;
        position: relative;
        left: -62px; }
      body .operation-content .operation #deleteBatch .tooltip-arrow {
        border-bottom-color: #b0b4c0 !important; }
    body .operation-content .operation .left-item {
      position: relative;
      left: 134px; }
      body .operation-content .operation .left-item .send-message {
        display: inline-block; }
      body .operation-content .operation .left-item .batch-btn {
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        margin: 8px; }
      body .operation-content .operation .left-item .operation-item-icon {
        width: 13px;
        height: 13px;
        background-repeat: no-repeat; }
      body .operation-content .operation .left-item .item-hover h5 {
        color: #2aa2dd !important; }
      body .operation-content .operation .left-item .item-hover .add-item-icon-hover {
        background-image: url("/img/icon_add_pressed.png"); }
      body .operation-content .operation .left-item .item-hover .list-item-icon-hover {
        background-image: url("/img/icon_card_pressed.png"); }
      body .operation-content .operation .left-item .item-hover .batch-item-icon-hover {
        background-image: url("/img/icon_batch_pressed.png"); }
      body .operation-content .operation .left-item .item-click h5 {
        color: #2aa2dd !important; }
      body .operation-content .operation .left-item .item-click .add-item-icon-hover {
        background-image: url("/img/icon_add_pressed.png"); }
      body .operation-content .operation .left-item .item-click .list-item-icon-hover {
        background-image: url("/img/icon_card_pressed.png"); }
      body .operation-content .operation .left-item .item-click .batch-item-icon-hover {
        background-image: url("/img/icon_batch_pressed.png"); }
      body .operation-content .operation .left-item .add-item-icon {
        background-image: url("/img/icon_add_default.png"); }
      body .operation-content .operation .left-item .list-item-icon {
        background-image: url("/img/icon_card_default.png"); }
      body .operation-content .operation .left-item .batch-item-icon {
        background-image: url("/img/icon_batch_deffault.png"); }
      body .operation-content .operation .left-item .delete-item-icon {
        background-image: url("/img/icon_delete_default.png"); }
      body .operation-content .operation .left-item .print-item-icon {
        background-image: url("/img/icon_print_default.png"); }
      body .operation-content .operation .left-item .send-item-icon {
        background-image: url("/img/icon_send_default.png"); }
      body .operation-content .operation .left-item .select-all-btn {
        background-image: url("/img/icon_select all_default.png"); }
      body .operation-content .operation .left-item .send-message-btn {
        background-image: url("/img/icon_send_default.png"); }
      body .operation-content .operation .left-item .delete-item-btn {
        background-image: url("/img/icon_delete_default.png"); }
      body .operation-content .operation .left-item .print-item-btn {
        background-image: url("/img/icon_print_default.png"); }
      body .operation-content .operation .left-item .btn-click .select-all-btn {
        background-image: url("/img/icon_select all_pressed.png"); }
      body .operation-content .operation .left-item .btn-hover .send-message-btn {
        background-image: url("/img/icon_send_pressed.png"); }
      body .operation-content .operation .left-item .btn-hover .delete-item-btn {
        background-image: url("/img/icon_delete_pressed.png"); }
      body .operation-content .operation .left-item .btn-hover .print-item-btn {
        background-image: url("/img/icon_print_pressed.png"); }
      body .operation-content .operation .left-item .btn-hover .select-all-btn {
        background-image: url("/img/icon_select all_pressed.png"); }
      body .operation-content .operation .left-item .task-color {
        width: 40px;
        height: 20px;
        padding: 0 !important;
        color: white;
        border-radius: 5px; }
      body .operation-content .operation .left-item .task-color.arranged {
        margin-left: 30px;
        background-color: #7ED320; }
      body .operation-content .operation .left-item .task-color.onGoing {
        background-color: #F0C22F; }
      body .operation-content .operation .left-item .task-color.tobeDistributed {
        background-color: #F3686B; }
    body .operation-content .operation .task-right-item {
      float: right; }
      body .operation-content .operation .task-right-item .list-inline .advanced-search-item {
        float: right; }
      body .operation-content .operation .task-right-item .list-inline .search-item {
        position: relative;
        top: 8px;
        right: -14%;
        width: 62%; }
        body .operation-content .operation .task-right-item .list-inline .search-item .search-btn {
          padding: 0 !important;
          border-left: 0;
          position: relative;
          left: -52px;
          background-color: #fff;
          top: 0;
          color: #666; }
    body .operation-content .operation .right-item {
      float: right;
      width: 650px;
      position: relative;
      top: -4px; }
      body .operation-content .operation .right-item .type-color {
        width: 25px;
        height: 20px;
        padding: 0 !important;
        border-radius: 2px 2px 2px; }
      body .operation-content .operation .right-item .type-color.driver {
        background-color: #f0c22f; }
      body .operation-content .operation .right-item .type-color.manager {
        background-color: #ef4c4f; }
      body .operation-content .operation .right-item .type-color.other {
        background-color: #28d3db; }
      body .operation-content .operation .right-item .click-item .type-color {
        outline: 1px solid;
        box-shadow: 1px 1px 1px 1px #888888 inset;
        border-radius: 0; }
      body .operation-content .operation .right-item .search-item {
        position: relative;
        top: 8px;
        width: 30%; }
        body .operation-content .operation .right-item .search-item .search-btn {
          padding: 0 !important;
          border-left: 0;
          position: relative;
          right: 139px;
          background-color: #fff;
          top: 1px;
          color: #666; }
        body .operation-content .operation .right-item .search-item .search-item-block-show {
          z-index: 3; }
        body .operation-content .operation .right-item .search-item .search-item-block {
          position: absolute;
          left: 18px;
          width: 86%;
          height: 28px;
          overflow: hidden; }
          body .operation-content .operation .right-item .search-item .search-item-block .advanced-search-item-block {
            border: 1px dashed #d6d6d8;
            cursor: pointer;
            border-radius: 4px;
            float: left;
            margin-right: 4px;
            max-width: 99%;
            position: relative;
            overflow: hidden;
            -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            padding: 0 10px 0 10px;
            margin-top: 4px;
            height: 20px;
            line-height: 20px;
            list-style: none; }
            body .operation-content .operation .right-item .search-item .search-item-block .advanced-search-item-block .advanced-search-item-text {
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100%;
              -webkit-transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
            body .operation-content .operation .right-item .search-item .search-item-block .advanced-search-item-block .advanced-search-item-text.click {
              color: #E9E9E9; }
            body .operation-content .operation .right-item .search-item .search-item-block .advanced-search-item-block .advanced-search-item-close {
              font-style: normal;
              vertical-align: baseline;
              text-align: center;
              text-transform: none;
              text-rendering: auto;
              color: #999;
              cursor: pointer;
              font-weight: bold;
              -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
              display: inline-block;
              font-size: 8px;
              -webkit-transform: scale(0.66667) rotate(0deg);
              transform: scale(0.66667) rotate(0deg);
              -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
              zoom: 1;
              position: absolute;
              right: 4px;
              padding: 0 0 0 8px; }
      body .operation-content .operation .right-item .outage-record-text {
        font-size: 12px;
        color: #425a73;
        font-weight: 600;
        padding-left: 10px; }
body .advanced-search-panel {
  position: absolute;
  width: 100%;
  z-index: 2;
  padding-bottom: 20px;
  background: rgba(251, 251, 253, 0.9);
  top: -520px; }
  body .advanced-search-panel .table-title, body .advanced-search-panel .advanced-table {
    margin-left: 200px;
    width: 80%; }
  body .advanced-search-panel .table-title {
    padding: 15px 0; }
    body .advanced-search-panel .table-title .anticon-right {
      padding: 0 10px; }
    body .advanced-search-panel .table-title .anticon-right:before {
      font-size: 10px; }
  body .advanced-search-panel .advanced-table tbody tr {
    border: 1px dashed #d6d6d8; }
    body .advanced-search-panel .advanced-table tbody tr td {
      height: 50px;
      width: 12%;
      text-align: center; }
    body .advanced-search-panel .advanced-table tbody tr td:not(:first-child) {
      cursor: pointer; }
  body .advanced-search-panel .advanced-table tbody .car-type-up {
    border-bottom: 0px; }
  body .advanced-search-panel .advanced-table tbody .car-type-down {
    border-top: 0px; }
  body .advanced-search-panel .advanced-table tbody .vehicle-out-start .ant-calendar-picker {
    width: 25%;
    min-width: 120px; }
  body .advanced-search-panel .advanced-table tbody .vehicle-out-start .start-date-space {
    padding: 0 12%; }

/*# sourceMappingURL=operation.css.map */
