.ant-modal .ant-modal-content .ant-modal-body {
  padding: 0; }
  .ant-modal .ant-modal-content .ant-modal-body .add-task {
    position: relative; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows {
      position: absolute;
      width: 108%;
      height: 100%;
      top: 0px;
      background: rgba(55, 55, 55, 0.3); }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show {
        position: absolute;
        left: 50%;
        background: white;
        width: 400px;
        height: 240px;
        margin-left: -200px;
        margin-top: 40px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-icon {
          background: #F7F7F7;
          text-align: left;
          height: 25px;
          line-height: 30px; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-icon .alert-icon {
            background: url("/img/alert.png") no-repeat;
            width: 13px;
            height: 13px;
            display: inline-block;
            margin-left: 5px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-word {
          margin: 58px 0px;
          font-size: 14px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-btn {
          height: 37px;
          background: red; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-btn button {
            width: 50%;
            height: 100%;
            border: none; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-btn .okbtn {
            background-color: #2AA2DE;
            color: white; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .popup-windows .popup-windows-show .popup-windows-show-btn .canclebtn {
            background-color: #E8F0F3; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .title {
      font-size: 14px;
      width: 561px;
      height: 40px;
      line-height: 40px;
      color: #495669;
      background-color: #F1F1F1;
      font-weight: bold; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content {
      width: 561px;
      height: 400px;
      background-color: white;
      text-align: justify; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content ul {
        padding-top: 2px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content ul .creator {
          text-align: center; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content li {
        margin-top: 10px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content li .startDate {
          background-color: #EDF4FE;
          margin-top: -10px;
          width: 508px;
          margin: 0 auto;
          padding-bottom: 5px; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content li .startDate .ant-calendar-picker {
            width: 100px; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content li .startDate label {
            margin-left: 20px; }
          .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content li .startDate .endDate {
            margin-left: 96px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .create-task-submit {
        margin: 5px auto;
        width: 508px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .create-task-submit .btn {
          width: 100px;
          height: 40px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .create-task-submit .create-btn {
          float: left;
          background-color: #2AA2DE;
          color: white; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .create-task-submit .cancel-btn {
          float: right;
          background-color: #DFE3EF; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content label {
        margin-left: 50px;
        color: #495669; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .Perio-task {
        margin-left: 27px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content span {
        color: #495669;
        font-weight: bold; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .span1 {
        margin-left: 50px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .span2 {
        margin-left: 24px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content input {
        border: 1px solid #C6C6C8;
        border-radius: 3px;
        height: 28px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .inputBox {
        width: 150px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .ant-calendar-picker {
        width: 150px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .inputBox-long {
        width: 410px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .number {
        margin-left: 10px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .destination {
        margin-left: 191px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-dialog-content .people {
        margin-left: 62px; }

html, body {
  height: 100%; }
  html span, body span {
    font-weight: bolder; }
  html .content-relative, body .content-relative {
    height: 100%; }
    html .content-relative .main-task, body .content-relative .main-task {
      background-color: #EEEEEE; }
      html .content-relative .main-task .row, body .content-relative .main-task .row {
        height: 100%; }
      html .content-relative .main-task .main-task-right, body .content-relative .main-task .main-task-right {
        height: 89%;
        background: white;
        margin-top: 4px; }
        html .content-relative .main-task .main-task-right .completed-task-content, body .content-relative .main-task .main-task-right .completed-task-content {
          width: 100%; }
          html .content-relative .main-task .main-task-right .completed-task-content .title-grey, body .content-relative .main-task .main-task-right .completed-task-content .title-grey {
            background: #AAB3C4;
            height: 30px;
            color: white;
            line-height: 30px; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-header, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-header {
            padding-left: 10px; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-footer, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-footer {
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 23%; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list {
            border-bottom: 1px solid #A5B0C4;
            position: relative; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .triangle-up, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .triangle-up {
              width: 0;
              height: 0;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 7px solid #A3AFCF; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .hide-triangle, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .hide-triangle {
              position: absolute;
              bottom: 0px;
              left: 50%;
              display: none; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details {
              display: none; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details .completed-cars-task, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details .completed-cars-task {
                padding: 5px 0;
                background: #F3F6FB; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types {
              background: url("/img/mutiple.png") no-repeat;
              width: 47px;
              height: 26px;
              position: relative;
              top: 5px;
              display: inline-block;
              vertical-align: middle; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types span, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types span {
                position: absolute;
                top: 5px;
                left: 19px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types-singal, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types-singal {
              background: url("/img/singal.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-number, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-number {
              position: relative;
              top: 5px;
              vertical-align: middle; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row {
              padding-left: 24px;
              margin-top: 8px; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col span, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col span {
                vertical-align: middle; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col .task-data1, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col .task-data1 {
                margin-left: 5px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .list-row, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .list-row {
              margin-bottom: 10px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon {
              display: inline-block;
              width: 13px;
              height: 13px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-out, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-out {
              background: url("/img/out.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-time, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-time {
              background: url("/img/icon_time.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-back, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-back {
              background: url("/img/back.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-card, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-card {
              background: url("/img/card.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-car, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-car {
              background: url("/img/Oval.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-driver, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-driver {
              background: url("/img/driver.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-destination, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-destination {
              background: url("/img/destination.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-list-default, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-list-default {
              background: url("/img/icon_list_default.png") no-repeat; }
      html .content-relative .main-task .main-task-content, body .content-relative .main-task .main-task-content {
        width: 99%;
        display: inline-block; }
        html .content-relative .main-task .main-task-content .task-card, body .content-relative .main-task .main-task-content .task-card {
          border-radius: 5px;
          width: 99.5%;
          background-color: white;
          margin-left: 10px;
          position: relative;
          padding-bottom: 5px;
          display: inline-block;
          margin-top: 4px;
          position: relative; }
          html .content-relative .main-task .main-task-content .task-card .withdraw-form, body .content-relative .main-task .main-task-content .task-card .withdraw-form {
            padding: 5px 0;
            background: #ECF5FE; }
            html .content-relative .main-task .main-task-content .task-card .withdraw-form .row, body .content-relative .main-task .main-task-content .task-card .withdraw-form .row {
              width: 80%;
              margin: 8px 0;
              margin-left: 14%; }
              html .content-relative .main-task .main-task-content .task-card .withdraw-form .row .withdraw-label, body .content-relative .main-task .main-task-content .task-card .withdraw-form .row .withdraw-label {
                display: inline-block;
                width: 100px;
                text-align: right; }
              html .content-relative .main-task .main-task-content .task-card .withdraw-form .row input, body .content-relative .main-task .main-task-content .task-card .withdraw-form .row input {
                border: 1px solid #C6C6C8;
                border-radius: 3px;
                height: 28px;
                width: 200px; }
          html .content-relative .main-task .main-task-content .task-card .withdraw-checkbox, body .content-relative .main-task .main-task-content .task-card .withdraw-checkbox {
            text-align: right;
            margin-top: 9px;
            padding-right: 14px; }
          html .content-relative .main-task .main-task-content .task-card .withdraw-btn, body .content-relative .main-task .main-task-content .task-card .withdraw-btn {
            padding: 4px 13px; }
            html .content-relative .main-task .main-task-content .task-card .withdraw-btn button, body .content-relative .main-task .main-task-content .task-card .withdraw-btn button {
              width: 80px;
              height: 35px;
              background: #DFE3EF;
              border: none; }
            html .content-relative .main-task .main-task-content .task-card .withdraw-btn .save-btn, body .content-relative .main-task .main-task-content .task-card .withdraw-btn .save-btn {
              float: left; }
            html .content-relative .main-task .main-task-content .task-card .withdraw-btn .close-btn, body .content-relative .main-task .main-task-content .task-card .withdraw-btn .close-btn {
              float: right; }
          html .content-relative .main-task .main-task-content .task-card .arranged-task, body .content-relative .main-task .main-task-content .task-card .arranged-task {
            background: #ECF5FE;
            width: 100%;
            padding-top: 5px; }
            html .content-relative .main-task .main-task-content .task-card .arranged-task .task-adjustment, body .content-relative .main-task .main-task-content .task-card .arranged-task .task-adjustment {
              width: 68%;
              margin-left: 23%; }
            html .content-relative .main-task .main-task-content .task-card .arranged-task .withdraw-adjustment, body .content-relative .main-task .main-task-content .task-card .arranged-task .withdraw-adjustment {
              display: inline-block; }
            html .content-relative .main-task .main-task-content .task-card .arranged-task .dotted, body .content-relative .main-task .main-task-content .task-card .arranged-task .dotted {
              border-bottom: 1px dashed #C6C6D0; }
            html .content-relative .main-task .main-task-content .task-card .arranged-task .return-detail span, body .content-relative .main-task .main-task-content .task-card .arranged-task .return-detail span {
              color: #B4BDC6; }
            html .content-relative .main-task .main-task-content .task-card .arranged-task li, body .content-relative .main-task .main-task-content .task-card .arranged-task li {
              margin-left: 58px;
              padding: 5px 0;
              position: relative; }
              html .content-relative .main-task .main-task-content .task-card .arranged-task li .task-data, body .content-relative .main-task .main-task-content .task-card .arranged-task li .task-data {
                width: 80%;
                display: inline-block; }
              html .content-relative .main-task .main-task-content .task-card .arranged-task li .task-adjustment1, body .content-relative .main-task .main-task-content .task-card .arranged-task li .task-adjustment1 {
                margin-left: 153px; }
              html .content-relative .main-task .main-task-content .task-card .arranged-task li .task-adjustment2, body .content-relative .main-task .main-task-content .task-card .arranged-task li .task-adjustment2 {
                margin-left: 184px; }
              html .content-relative .main-task .main-task-content .task-card .arranged-task li .withDraw, body .content-relative .main-task .main-task-content .task-card .arranged-task li .withDraw {
                position: absolute;
                top: 16px;
                right: 200px;
                width: 70px;
                height: 30px;
                color: #C5C5CD;
                background: #ECF5FE;
                border: 1px solid #C5C5CD; }
              html .content-relative .main-task .main-task-content .task-card .arranged-task li .withDraw-car, body .content-relative .main-task .main-task-content .task-card .arranged-task li .withDraw-car {
                color: #3F9BCC;
                background: #ECF5FE;
                border: 1px solid #3F9BCC; }
          html .content-relative .main-task .main-task-content .task-card .addtask-modal, body .content-relative .main-task .main-task-content .task-card .addtask-modal {
            display: none;
            position: absolute;
            top: 278px;
            width: 100%;
            height: 450px;
            z-index: 100;
            background: white; }
            html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table {
              margin: 7px;
              width: 99%; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .blank, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .blank {
                display: inline-block; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table th, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table th {
                background: #2AA2DE;
                color: white;
                padding: 8px 0px;
                text-align: center;
                width: 196px;
                display: inline-block;
                border-right: 1px solid #D6F6FF;
                border-bottom: none; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table th:nth-child(1), body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table th:nth-child(1) {
                width: 50px; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table tr:nth-child(odd), body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table tr:nth-child(odd) {
                background: #EEEEEE; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table tr:nth-child(even), body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table tr:nth-child(even) {
                background: white; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .active, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .active {
                background: #D0EAF7 !important; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td {
                padding: 8px 0px;
                text-align: center;
                width: 200px;
                border-right: 1px solid #303C4C; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td i, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td i {
                  width: 8px;
                  height: 14px;
                  background: url("/img/triangle_right.png");
                  display: inline-block; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td:nth-child(1), body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table td:nth-child(1) {
                width: 50px; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .div, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table .div {
                width: 82px; }
            html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table-body, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-c .ant-table-body {
              height: 316px; }
            html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f {
              width: 100%;
              height: 87px;
              padding: 6px 7px; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .btn, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .btn {
                height: 28px;
                border: none;
                border-radius: 3px;
                padding: 5px 3px;
                width: 80px; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .ok-btn, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .ok-btn {
                float: left;
                color: white;
                background-color: #2AA2DE; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .cancel-btn, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-f .cancel-btn {
                float: right;
                background-color: #E8F0F3; }
            html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h {
              width: 100%;
              height: 40px;
              background: #FAFAFC;
              border: 1px solid #F1F1F2; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item {
                float: right; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .advanced-search-item, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .advanced-search-item {
                  float: right; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-item, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-item {
                  position: relative;
                  top: 6px;
                  right: 0%;
                  width: 78%; }
                  html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-item .search-btn, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-item .search-btn {
                    padding: 0 !important;
                    border-left: 0;
                    position: relative;
                    left: -52px;
                    background-color: #fff;
                    top: 0;
                    color: #666; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-text, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .task-right-item .list-inline .search-text {
                  position: relative;
                  top: -3px;
                  left: 7px; }
              html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline {
                display: inline-block; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .task-color, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .task-color {
                  width: 40px;
                  height: 20px;
                  line-height: 20px;
                  text-align: center;
                  padding: 0 !important;
                  color: white;
                  border-radius: 5px;
                  margin-top: 12px; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .idle, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .idle {
                  margin-left: 23px;
                  background-color: #7ED320; }
                html .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .outing, body .content-relative .main-task .main-task-content .task-card .addtask-modal .task-details-list-h .list-inline .outing {
                  margin-left: 22px;
                  background-color: #F0C22F; }
          html .content-relative .main-task .main-task-content .task-card .edit-car-task, body .content-relative .main-task .main-task-content .task-card .edit-car-task {
            width: 80%;
            background: #ECF5FE;
            margin: 10px 76px;
            padding: 10px 31px;
            position: relative; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline, body .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline {
              display: inline-block;
              position: relative; }
              html .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline .plus-icon, body .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline .plus-icon {
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url("/img/plus.png");
                position: absolute;
                right: 9px;
                top: 6px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task input, body .content-relative .main-task .main-task-content .task-card .edit-car-task input {
              border: 1px solid #C6C6C8;
              border-radius: 3px;
              height: 28px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task button, body .content-relative .main-task .main-task-content .task-card .edit-car-task button {
              color: #3F9BCA;
              border: 1px solid #3F9BCA;
              height: 28px;
              background-color: #ECF5FE;
              width: 55px;
              border-radius: 3px;
              font-weight: bold;
              position: absolute;
              right: 30px;
              top: 10px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .edit-car-task-input, body .content-relative .main-task .main-task-content .task-card .edit-car-task .edit-car-task-input {
              width: 89%; }
              html .content-relative .main-task .main-task-content .task-card .edit-car-task .edit-car-task-input input, body .content-relative .main-task .main-task-content .task-card .edit-car-task .edit-car-task-input input {
                width: 219px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li, body .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li {
              margin-top: 10px;
              position: relative; }
              html .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .add-task-row, body .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .add-task-row {
                width: 89%;
                border: 1px dashed #BFC6CE;
                padding: 5px 0; }
                html .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .add-task-row .icon, body .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .add-task-row .icon {
                  margin: 0 5px; }
              html .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .delete-btn, body .content-relative .main-task .main-task-content .task-card .edit-car-task .add-task-details .add-task-d-li .delete-btn {
                position: absolute;
                right: 14px;
                top: 12px;
                color: #3F9BCA;
                cursor: pointer; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .only-current-task, body .content-relative .main-task .main-task-content .task-card .edit-car-task .only-current-task {
              margin-top: 18px;
              text-align: right;
              display: inline-block;
              width: 100%; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn {
            width: 80%;
            margin-left: 76px;
            padding: 15px 0 20px 0;
            position: relative; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn button, body .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn button {
              height: 28px;
              border: none;
              border-radius: 3px;
              padding: 5px 3px;
              height: 30px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .save-send-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .save-send-btn {
              float: left;
              background: #29A3DD;
              color: white; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .save-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .save-btn {
              background: #DFE3EE;
              width: 75px;
              position: absolute;
              left: 50%;
              margin-left: -37px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .close-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .edit-btn .close-btn {
              float: right;
              background: #DFE3EE;
              width: 75px; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn {
            margin-left: 75px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn button, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn button {
              height: 28px;
              border: none;
              border-radius: 3px;
              padding: 5px 3px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn1, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn1 {
              margin-left: 25px;
              background: #29A3DD;
              color: white; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn2, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn2 {
              margin-left: 10px;
              background: #DFE3EE; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details {
            background: #ECF5FE;
            margin-left: 76px;
            width: 80%; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker {
              width: 130px; }
              html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker .ant-input, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker .ant-input {
                height: 30px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate {
              width: 100%;
              padding: 10px 0;
              margin-top: 10px; }
              html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li:nth-child(2), body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li:nth-child(2) {
                margin: 7px 29px; }
                html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li:nth-child(2) .ant-checkbox, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li:nth-child(2) .ant-checkbox {
                  margin-left: 60px; }
              html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate {
                width: 83%;
                height: 50px;
                padding: 7px 29px; }
                html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate .startDate-endDate-left, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate .startDate-endDate-left {
                  float: left; }
                html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate .startDate-endDate-right, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate .startDate-endDate .startDate-endDate-right {
                  float: right; }
          html .content-relative .main-task .main-task-content .task-card .task-edit-page, body .content-relative .main-task .main-task-content .task-card .task-edit-page {
            width: 85%;
            margin: 0 auto; }
            html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row {
              margin-top: 5px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row label {
                width: 50px;
                text-align: justify;
                text-align: end;
                text-align-last: justify;
                text-justify: distribute; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .colon, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .colon {
                margin: 0 5px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row input, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row input {
                border: 1px solid #C6C6C8;
                border-radius: 3px;
                height: 28px;
                width: 200px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .vehicles-marker, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .vehicles-marker {
                width: 854px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col label {
                margin-left: 125px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col .back-time-label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col .back-time-label {
                width: 74px;
                margin-left: 101px; }
          html .content-relative .main-task .main-task-content .task-card .click-down, body .content-relative .main-task .main-task-content .task-card .click-down {
            position: absolute;
            top: 50px;
            right: 60px;
            display: inline-block;
            width: 13px;
            height: 10px;
            background: url("/img/Triangle.png") no-repeat; }
          html .content-relative .main-task .main-task-content .task-card .hide-data, body .content-relative .main-task .main-task-content .task-card .hide-data {
            display: none; }
            html .content-relative .main-task .main-task-content .task-card .hide-data .hide-btn2, body .content-relative .main-task .main-task-content .task-card .hide-data .hide-btn2 {
              display: none; }
          html .content-relative .main-task .main-task-content .task-card .inner-icon, body .content-relative .main-task .main-task-content .task-card .inner-icon {
            background-size: cover;
            display: inline-block;
            width: 15px;
            height: 15px; }
          html .content-relative .main-task .main-task-content .task-card .edit-inner-icon, body .content-relative .main-task .main-task-content .task-card .edit-inner-icon {
            background: url("/img/edit_task.png") no-repeat; }
          html .content-relative .main-task .main-task-content .task-card .cancel-task-icon, body .content-relative .main-task .main-task-content .task-card .cancel-task-icon {
            background: url("/img/icon_cancel.png") no-repeat; }
          html .content-relative .main-task .main-task-content .task-card .return-car-icon, body .content-relative .main-task .main-task-content .task-card .return-car-icon {
            background: url("/img/icon_back.png") no-repeat; }
          html .content-relative .main-task .main-task-content .task-card .task-number_card, body .content-relative .main-task .main-task-content .task-card .task-number_card {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: white;
            background-color: #B9E986;
            margin-bottom: 6px;
            padding-left: 43px; }
            html .content-relative .main-task .main-task-content .task-card .task-number_card .edit-icon, body .content-relative .main-task .main-task-content .task-card .task-number_card .edit-icon {
              float: right;
              display: inline-block;
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background-color: #7ED320;
              border-top-right-radius: 5px; }
            html .content-relative .main-task .main-task-content .task-card .task-number_card .icon-red, body .content-relative .main-task .main-task-content .task-card .task-number_card .icon-red {
              background: #EC4C4E; }
            html .content-relative .main-task .main-task-content .task-card .task-number_card .icon-blue, body .content-relative .main-task .main-task-content .task-card .task-number_card .icon-blue {
              background: #7ED320; }
            html .content-relative .main-task .main-task-content .task-card .task-number_card .icon-orange, body .content-relative .main-task .main-task-content .task-card .task-number_card .icon-orange {
              background: #F5A720; }
          html .content-relative .main-task .main-task-content .task-card .red, body .content-relative .main-task .main-task-content .task-card .red {
            background: #F3686B; }
          html .content-relative .main-task .main-task-content .task-card .orange, body .content-relative .main-task .main-task-content .task-card .orange {
            background: #F0C22F; }
          html .content-relative .main-task .main-task-content .task-card .blue, body .content-relative .main-task .main-task-content .task-card .blue {
            background: #B9E986; }
          html .content-relative .main-task .main-task-content .task-card .task-data, body .content-relative .main-task .main-task-content .task-card .task-data {
            margin-left: 23px; }
          html .content-relative .main-task .main-task-content .task-card .user-p, body .content-relative .main-task .main-task-content .task-card .user-p {
            margin-left: 12px; }
          html .content-relative .main-task .main-task-content .task-card span, body .content-relative .main-task .main-task-content .task-card span {
            font-weight: bold; }
          html .content-relative .main-task .main-task-content .task-card .task-hover, body .content-relative .main-task .main-task-content .task-card .task-hover {
            position: absolute;
            right: 0px;
            top: 0px;
            background: #7ED320;
            display: none;
            border-top-right-radius: 5px; }
            html .content-relative .main-task .main-task-content .task-card .task-hover .inline-block, body .content-relative .main-task .main-task-content .task-card .task-hover .inline-block {
              display: inline-block; }
            html .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-blue, body .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-blue {
              border-bottom: 2px solid #B9E986; }
            html .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-red, body .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-red {
              border-bottom: 2px solid #F3686B; }
            html .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-orange, body .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li-orange {
              border-bottom: 2px solid #F0C22F; }
            html .content-relative .main-task .main-task-content .task-card .task-hover li, body .content-relative .main-task .main-task-content .task-card .task-hover li {
              width: 86px;
              height: 30px;
              line-height: 30px;
              color: white; }
              html .content-relative .main-task .main-task-content .task-card .task-hover li span, body .content-relative .main-task .main-task-content .task-card .task-hover li span {
                margin-left: 5px; }
          html .content-relative .main-task .main-task-content .task-card .icon-red, body .content-relative .main-task .main-task-content .task-card .icon-red {
            background: #EC4C4E; }
          html .content-relative .main-task .main-task-content .task-card .icon-blue, body .content-relative .main-task .main-task-content .task-card .icon-blue {
            background: #F5A720; }
          html .content-relative .main-task .main-task-content .task-card .icon-orange, body .content-relative .main-task .main-task-content .task-card .icon-orange {
            background: #7ED320; }

/*# sourceMappingURL=taskarrangement.css.map */
