.ant-modal .ant-modal-content .ant-modal-body {
  padding: 0; }
  .ant-modal .ant-modal-content .ant-modal-body .add-task .title {
    font-size: 14px;
    width: 561px;
    height: 40px;
    line-height: 40px;
    color: #495669;
    background-color: #F1F1F1;
    font-weight: bold; }
  .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content {
    width: 561px;
    height: 400px;
    background-color: white;
    text-align: justify; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content ul {
      padding-top: 2px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content ul .creator {
        text-align: center; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content li {
      margin-top: 10px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content li .startDate {
        background-color: #EDF4FE;
        margin-top: -10px;
        width: 508px;
        margin: 0 auto;
        padding-bottom: 5px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content li .startDate .ant-calendar-picker {
          width: 100px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content li .startDate label {
          margin-left: 20px; }
        .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content li .startDate .endDate {
          margin-left: 96px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .create-task-submit {
      margin: 5px auto;
      width: 508px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .create-task-submit .btn {
        width: 100px;
        height: 40px; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .create-task-submit .create-btn {
        float: left;
        background-color: #2AA2DE;
        color: white; }
      .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .create-task-submit .cancel-btn {
        float: right;
        background-color: #DFE3EF; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content label {
      margin-left: 50px;
      color: #495669; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .Perio-task {
      margin-left: 27px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content span {
      color: #495669;
      font-weight: bold; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .span1 {
      margin-left: 50px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .span2 {
      margin-left: 24px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content input {
      border: 1px solid #C6C6C8;
      border-radius: 3px;
      height: 28px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .inputBox {
      width: 150px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .ant-calendar-picker {
      width: 150px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .inputBox-long {
      width: 410px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .number {
      margin-left: 10px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .destination {
      margin-left: 191px; }
    .ant-modal .ant-modal-content .ant-modal-body .add-task .task-content .people {
      margin-left: 62px; }

html, body {
  height: 100%; }
  html span, body span {
    font-weight: bolder; }
  html .content-relative, body .content-relative {
    height: 100%; }
    html .content-relative .main-task, body .content-relative .main-task {
      height: 100%;
      background-color: #EEEEEE; }
      html .content-relative .main-task .row, body .content-relative .main-task .row {
        height: 100%; }
      html .content-relative .main-task .main-task-right, body .content-relative .main-task .main-task-right {
        height: 89%;
        background: white;
        margin-top: 102px; }
        html .content-relative .main-task .main-task-right .completed-task-content, body .content-relative .main-task .main-task-right .completed-task-content {
          width: 100%; }
          html .content-relative .main-task .main-task-right .completed-task-content .title-grey, body .content-relative .main-task .main-task-right .completed-task-content .title-grey {
            background: #AAB3C4;
            height: 30px;
            color: white;
            line-height: 30px; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-header, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-header {
            padding-left: 10px; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-footer, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-footer {
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 26%; }
          html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list {
            border-bottom: 1px solid #A5B0C4;
            position: relative; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .triangle-up, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .triangle-up {
              width: 0;
              height: 0;
              border-left: 12px solid transparent;
              border-right: 12px solid transparent;
              border-bottom: 7px solid #A3AFCF; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .hide-triangle, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .hide-triangle {
              position: absolute;
              bottom: 0px;
              left: 50%;
              display: none; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-details {
              background: #F3F6FB;
              padding: 5px 0;
              margin-top: 10px;
              display: none; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types {
              background: url("/img/mutiple.png") no-repeat;
              width: 47px;
              height: 26px;
              position: relative;
              top: 5px;
              display: inline-block;
              vertical-align: middle; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types span, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-types span {
                position: absolute;
                top: 5px;
                left: 19px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-number, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .task-number {
              position: relative;
              top: 5px;
              vertical-align: middle; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row {
              padding-left: 24px;
              margin-top: 8px; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col span, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col span {
                vertical-align: middle; }
              html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col .task-data1, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .completed-task-list-row .completed-task-list-col .task-data1 {
                margin-left: 5px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .list-row, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .list-row {
              margin-bottom: 10px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon {
              display: inline-block;
              width: 13px;
              height: 13px; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-out, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-out {
              background: url("/img/out.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-back, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-back {
              background: url("/img/back.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-card, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-card {
              background: url("/img/card.png") no-repeat; }
            html .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-car, body .content-relative .main-task .main-task-right .completed-task-content .completed-task-list .icon-car {
              background: url("/img/Oval.png") no-repeat; }
      html .content-relative .main-task .main-task-content, body .content-relative .main-task .main-task-content {
        width: 89%;
        margin-left: 10%;
        padding-top: 100px;
        display: inline-block; }
        html .content-relative .main-task .main-task-content .task-card, body .content-relative .main-task .main-task-content .task-card {
          border-radius: 5px;
          width: 99.5%;
          background-color: white;
          margin-left: 10px;
          position: relative;
          padding-bottom: 5px;
          display: inline-block;
          margin-top: 4px; }
          html .content-relative .main-task .main-task-content .task-card .edit-car-task, body .content-relative .main-task .main-task-content .task-card .edit-car-task {
            width: 80%;
            background: #ECF5FE;
            margin: 10px 76px;
            padding: 10px 31px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline, body .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline {
              display: inline-block;
              position: relative; }
              html .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline .plus-icon, body .content-relative .main-task .main-task-content .task-card .edit-car-task .div-inline .plus-icon {
                display: inline-block;
                width: 13px;
                height: 13px;
                background: url("/img/plus.png");
                position: absolute;
                right: 9px;
                top: 6px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task input, body .content-relative .main-task .main-task-content .task-card .edit-car-task input {
              border: 1px solid #C6C6C8;
              border-radius: 3px;
              height: 28px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task button, body .content-relative .main-task .main-task-content .task-card .edit-car-task button {
              color: #3F9BCA;
              border: 1px solid #3F9BCA;
              height: 28px;
              background-color: #ECF5FE;
              width: 55px;
              border-radius: 3px;
              font-weight: bold;
              position: absolute;
              right: -1px; }
            html .content-relative .main-task .main-task-content .task-card .edit-car-task .only-current-task, body .content-relative .main-task .main-task-content .task-card .edit-car-task .only-current-task {
              margin-top: 18px;
              margin-left: 825px; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .btn {
            width: 80%;
            margin-left: 76px;
            padding: 15px 0 20px 0; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .btn button, body .content-relative .main-task .main-task-content .task-card .periodic-task .btn button {
              height: 28px;
              border: none;
              border-radius: 3px;
              padding: 5px 3px;
              height: 30px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .btn .save-send-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .btn .save-send-btn {
              float: left;
              background: #29A3DD;
              color: white; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .btn .save-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .btn .save-btn {
              margin: 0 auto;
              background: #DFE3EE;
              width: 100px;
              width: 75px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .btn .close-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .btn .close-btn {
              float: right;
              background: #DFE3EE;
              width: 100px;
              width: 75px; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn {
            margin-left: 75px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn button, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn button {
              height: 28px;
              border: none;
              border-radius: 3px;
              padding: 5px 3px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn1, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn1 {
              margin-left: 25px;
              background: #29A3DD;
              color: white; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn2, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-btn .btn2 {
              margin-left: 10px;
              background: #DFE3EE; }
          html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details {
            background: #ECF5FE;
            margin-left: 76px;
            width: 80%; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker {
              width: 130px; }
              html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker .ant-input, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .ant-calendar-picker .ant-input {
                height: 30px; }
            html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate {
              width: 100%;
              padding: 10px 0;
              margin-top: 10px; }
              html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li {
                margin: 7px 29px; }
                html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li .endDate, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li .endDate {
                  margin-left: 400px; }
                html .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li .ant-checkbox, body .content-relative .main-task .main-task-content .task-card .periodic-task .periodic-task-details .startDate li .ant-checkbox {
                  margin-left: 60px; }
          html .content-relative .main-task .main-task-content .task-card .task-edit-page, body .content-relative .main-task .main-task-content .task-card .task-edit-page {
            width: 85%;
            margin: 0 auto; }
            html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row {
              margin-top: 5px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row label {
                width: 50px;
                text-align: justify;
                text-align: end;
                text-align-last: justify;
                text-justify: distribute; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .colon, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .colon {
                margin: 0 5px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row input, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row input {
                border: 1px solid #C6C6C8;
                border-radius: 3px;
                height: 28px;
                width: 200px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .vehicles-marker, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .vehicles-marker {
                width: 854px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col label {
                margin-left: 125px; }
              html .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col .back-time-label, body .content-relative .main-task .main-task-content .task-card .task-edit-page .task-edit-row .task-edit-col .back-time-label {
                width: 74px;
                margin-left: 101px; }
          html .content-relative .main-task .main-task-content .task-card .click-down, body .content-relative .main-task .main-task-content .task-card .click-down {
            position: absolute;
            top: 50px;
            right: 60px;
            display: inline-block;
            width: 13px;
            height: 10px;
            background: url("/img/Triangle.png") no-repeat; }
          html .content-relative .main-task .main-task-content .task-card .hide-data, body .content-relative .main-task .main-task-content .task-card .hide-data {
            display: none; }
          html .content-relative .main-task .main-task-content .task-card .edit-inner-icon, body .content-relative .main-task .main-task-content .task-card .edit-inner-icon {
            background: url("/img/edit_task.png") no-repeat;
            background-size: cover;
            display: inline-block;
            width: 15px;
            height: 15px; }
          html .content-relative .main-task .main-task-content .task-card .task-number, body .content-relative .main-task .main-task-content .task-card .task-number {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: white;
            background-color: #B9E986;
            margin-bottom: 6px;
            padding-left: 43px; }
            html .content-relative .main-task .main-task-content .task-card .task-number .edit-icon, body .content-relative .main-task .main-task-content .task-card .task-number .edit-icon {
              float: right;
              display: inline-block;
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              background-color: #7ED320;
              border-top-right-radius: 5px; }
          html .content-relative .main-task .main-task-content .task-card .task-data, body .content-relative .main-task .main-task-content .task-card .task-data {
            margin-left: 23px; }
          html .content-relative .main-task .main-task-content .task-card .user-p, body .content-relative .main-task .main-task-content .task-card .user-p {
            margin-left: 12px; }
          html .content-relative .main-task .main-task-content .task-card span, body .content-relative .main-task .main-task-content .task-card span {
            font-weight: bold; }
          html .content-relative .main-task .main-task-content .task-card .task-hover, body .content-relative .main-task .main-task-content .task-card .task-hover {
            position: absolute;
            right: 0px;
            top: 0px;
            background: #7ED320;
            display: none;
            border-top-right-radius: 5px; }
            html .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li, body .content-relative .main-task .main-task-content .task-card .task-hover .task-hover-li {
              border-bottom: 2px solid #B9E986; }
            html .content-relative .main-task .main-task-content .task-card .task-hover li, body .content-relative .main-task .main-task-content .task-card .task-hover li {
              width: 86px;
              height: 30px;
              line-height: 30px;
              color: white; }
              html .content-relative .main-task .main-task-content .task-card .task-hover li span, body .content-relative .main-task .main-task-content .task-card .task-hover li span {
                margin-left: 5px; }

/*# sourceMappingURL=taskarrangement.css.map */
