doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title 车队管理系统
		link(href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
		link(href="//cdn.bootcss.com/fixed-data-table/0.6.0/fixed-data-table.min.css" rel="stylesheet")
		link(href="/css/common.css" rel="stylesheet")
		link(href="/css/header.css" rel="stylesheet")
		link(href="/css/navigation.css" rel="stylesheet")
		link(href="/css/operation.css" rel="stylesheet")
		link(href="/css/tool.css" rel="stylesheet")
		link(href="/css/content.css" rel="stylesheet")
		link(href="/css/icheck/green.css" rel="stylesheet")
		link(href="/css/print.css" rel="stylesheet")
		link(href="/css/setting.css" rel="stylesheet")
		link(href="/css/taskarrangement.css" rel="stylesheet")
	body
		div(id="page-content")
		div(id="print-content")
		script(src="http://127.0.0.1:9090/public/shared.js")
		script(src="http://127.0.0.1:9090/public/main.js")



