body{
  font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
  h2{
    font-size: 20px;
    color: #000000;
  }
  h3{
    color: #2aa2dd;
    font-size: 18px;
  }
  h4{
    color: #2e3c52;
    font-size: 14px;
  }
  h5{
    color: #435a73;
    font-size: 12px;
  }
}